/* import variables */
@import url(variables.css);
/*import global styling*/
@import url(global.css);
/* Fonts */
@import url(fonts.css);



/* start nav */
/* .header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
} */

.header_area .main-menu .navbar{
    padding: 1rem 17rem;
}

/* navbar items*/
.header_area .main-menu .nav-item .nav-link{
    font-family: var(--font);
    font-size: 19px;
    font-weight: 900;
    padding: 1.7rem;
    color: black;
}

.header_area .main-menu .navbar-nav .active a{
    /* color: rgba(233,157,193,255); */
    color: var(--primary-color);

    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    color: rgba(233,157,193,255);

    background-clip: text;
}
/* end nav */



/* Bannner area*/
/* .site-main .site-banner {
    /* Achtergrond van de banner
    background: url(../img/portfolio/267FF923-0C9A-4703-933E-E944101A963A.png) no-repeat;
    background-position: 0% 60%;
    
}

.site-main .site-banner .site-title h3::after{
    content:" ";
    height: 2px;
    width: 18vw;
    background:black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 3rem;
}
.site-main .site-banner .site-title h3{
    font-size: 1rem;
}
.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}
.site-main .site-banner .banner-image img{
    padding: 7rem 0;
    width: 90rem;
}

.title-text{
    font: normal bold 50px/ 72px Verdana;
} */
/* End Bannner area*/


/* Portfolio area */
/* .container {
    overflow: hidden;
  } */
  
  /* .filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; Hidden by default 
  } 
  */
  
  
.grid-images{
    /* width: 100%; */
    /* height:100%; */
    /* box-shadow: 3px 3px 5px -4px #c4437d; */
    display: none;

}
  /* The "show" class is added to the filtered elements */
.show {
    display: inline-block;
}
.site-main .portfolio-area{
    padding: 4rem 0;
}

.site-main .portfolio-area .button-group button{
    background:transparent;
    border:none;
    font: normal 900 18px/130px var(--font);
}

.site-main .portfolio-area .button-group button:hover,
.site-main .portfolio-area .button-group .active {
    color: var(--primary-color);
}

.site-main .portfolio-area .button-group button + button{
    padding-left: 3rem;
}


    /* portfolio images*/
.masonry{
    columns: 3;
    column-gap: 16px;
    /* padding-left: 20%; */
    /* padding-right: 20%; */

}

/* ipad like screens */
@media(max-width: 1200px){
    .masonry{
        columns:2;
    }
    .header_area .main-menu .navbar {
        display: inline;
       
    }
}

/* smallest screens */
@media(max-width: 992px){
    .masonry{
        columns:1;
    }

    .header_area .main-menu .navbar {
        display: inline;
       
    }

    .site-main .portfolio-area .button-group button{
        /* font-size: 16px; */
        /* color: chartreuse; */
        font: normal 900 18px/50px var(--font);
    }
    .site-main .portfolio-area .button-group button + button{
        padding-left: 0.2rem;
    }

}
.masonry .grid-images{
    /* display: inline-block; */
    margin-bottom: 16px;
    position: relative;
    /* padding: 5%; */
     /* box-shadow: 5px 5px; */

}

.masonry .grid-images img{
    width: 100%;
    /* height:100%; */
    /* box-shadow: 3px 3px 5px -4px #c4437d; */
    box-shadow: #c4437d8a 0px 2px 5px -1px, #c4437d57 0px 1px 3px -1px;
    /* display: none; */

}


/* End Portfolio area */

/* About me area */
.about-image{
    width: 500px;
    display: block;
    margin: auto;
    /* padding-left: 100px; */
}

.about-area .email{
    color: var(--primary-color);
    text-decoration: none;
}
/* End of About me area */